<% if @manufacturer.errors.any? %>
  <div id="error_explanation">
    <% @manufacturer.errors.full_messages.each do |msg| %>
      <div style="color: red;" data-alert class="col text-center alert-box radius">
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="row">
  <div class="col offset-md-4 col-md-4">
    <%= form_for @manufacturer do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>